In [1]:
#Import libraries
import pandas as pd
import gc
import sqlalchemy as alch
import urllib as lib

In [2]:
#Define connections
server = 'localhost'
targetDatabase = 'DWTest'
targetSchema = 'Warehouse'
targetTable = 'TokyoMedals'

driver = 'com.microsoft.sqlserver.jdbc.SQLServerDriver'
quotedTarget = lib.parse.quote_plus('DRIVER={SQL SERVER NATIVE CLIENT 11.0};SERVER='+server+';DATABASE='+targetDatabase+';Trusted_Connection=yes')
engineTarget = alch.create_engine('mssql+pyodbc:///?odbc_connect={}'.format(quotedTarget))

In [3]:
df_tokyoMedals = pd.read_csv(r"D:\Python Projects\Python ETL\Olympics\Tokyo Medals 2021.csv")

In [4]:
df_tokyoMedals.head()

,Country,Gold Medal,Silver Medal,Bronze Medal,Total,Rank By Total
0,United States of America,39,41,33,113,1
1,People's Republic of China,38,32,18,88,2
2,Japan,27,14,17,58,5
3,Great Britain,22,21,22,65,4
4,ROC,20,28,23,71,3

In [5]:
df_tokyoMedals.dtypes

Country          object
Gold Medal        int64
Silver Medal      int64
Bronze Medal      int64
Total             int64
Rank By Total     int64
dtype: object

In [6]:
df_tokyoMedalsUS = df_tokyoMedals.loc[df_tokyoMedals['Country'] == 'United States of America']

In [7]:
df_tokyoMedalsUS.head()

,Country,Gold Medal,Silver Medal,Bronze Medal,Total,Rank By Total
0,United States of America,39,41,33,113,1

In [8]:
df_tokyoMedalsTop3 = df_tokyoMedals.nlargest(3, columns='Gold Medal')

In [9]:
df_tokyoMedalsTop3.head()

,Country,Gold Medal,Silver Medal,Bronze Medal,Total,Rank By Total
0,United States of America,39,41,33,113,1
1,People's Republic of China,38,32,18,88,2
2,Japan,27,14,17,58,5

In [10]:
df_tokyoMedals.to_sql('TokyoMedals', con=engineTarget, schema=targetSchema, index=False, if_exists='replace')

93

In [11]:
del df_tokyoMedalsTop3, df_tokyoMedalsUS, df_tokyoMedals

In [12]:
gc.collect()

107